@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    font-family: 'Lato', sans-serif;
    background-color: #f8F3E9;
    color: #0E4A28;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* padding-left: 15%;
    padding-right: 15%; */
}
  
h1 {
    font-size: 96px;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 32px;
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 300;
}

.text-description {
    font-size: 16px;
    font-weight: 300;
}


h3 {
    margin: 0;
}

p1 {
    font-size: x-large;
}

header {
position: sticky;
top: 0;
}

.hamburger {
display: none;
cursor: pointer;
font-size: 24px;
}

.nav {
    background-color: #f8F3E9;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;

    /* padding-left: 15%;
    padding-right: 15%; */
}




.nav-content-left {
color: #0E4A28;
}

.nav-content-right {
display: flex;
gap: 40px;
}

.nav-text {
text-decoration: none;
display: inline-block;
position: relative;
color: #0E4A28;
}

.nav-text::after {
content: "";
position: absolute;
left: 0;
bottom: -2px;
width: 0;
height: 2px;
background-color: #0E4A28;
transition: width 0.2s ease-in-out;
}

.nav-text:hover::after {
width: 100%;
}

.primary-button {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0E4A28;
    text-decoration: none;
    border-color: #0E4A28;
    border-width: 2px;
    /* padding: 8px 8px; */
    max-width: 263px;
    min-height: 60px;
    border-radius: 100px;
  }

.primary-button:active {
    border-style: outset;
}
  
.primary-button:hover {
    background-color: #0E4A28;
    transition: 0.2s;
    color: #f8F3E9;
}


.text-introduction {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 15%;
    gap: 20px;
    max-width: 600px;
    height: 80vh;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 96px

}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 16px

}

.content-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* background-color: red; */
    height: 340px;
}

.body-container {
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 768px) {

body {
    display: flex;
    flex-direction: column;
    margin: 0;

}

.body-container {
    padding-left: 16px;
    padding-right: 16px;
}


.nav-content-left {
    display: none;
}

.nav-content-right {
    display: none;
    flex-direction: column;
    background-color: #0E4A28;
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-content-left {
    padding: 0%;
}
.nav-content-right.active {
    display: flex;
}
.hamburger {
    display: block;
}

.nav-text {
    color: #f8F3E9;
}
}
